<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogging Tech</title>
</head>

<div class="navbar">
  <a class="active" href="#home">Home</a>
  <a href="dashboard">Dashboard</a>
  <a href="#logout">Logout</a>
</div>

<div class="header">
  <h1>Your Dashboard</h1>
</div>
 <main class="col-auto">
    {{{body}}}
  </main>

   <footer class="footer flex-row justify-center">
    <a href="/dashboard/new">➕ New Post</a>
  </footer>
</body>
    
</body>
<script src="/js/edit.js"></script>
<script src="/js/logout.js"></script>
<script src="/js/delete.js"></script>
</html>